#
# https://git-scm.com/docs/gitignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cd]
**/*$py.class

# Non-source files
**/*.log
**/*.bak
**/*.bak.*
**/*.tmp

# Processing paths
cache/**
output/**
logs/**
temp/**

# Tools
.idea
.coverage

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
